saml/resources/certs/*
saml/resources/realms/apps.json
saml/resources/splunk/splunk-etc/auth/idpCerts
saml/resources/splunk/splunk-etc/auth/*.pem
oauth/certs/*
oauth/resources/realms/*.json
oauth/resources/apache-conf/tokens
oauth/resources/apache-conf/rs256
